{
  "extends": [
    "standard",
    "plugin:lodash/canonical"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "_": true,
    "util": true
  },
  "plugins": [
    "html",
    "lodash"
  ]
}
